body {
  display: flexbox;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 40%;
  width: 40%;
  background-color:white;
}

::-moz-selection { /* Code for Firefox */
  color: #333;
  background: white;
}

::selection {
  color: #333;
  background: white;
}

.title {
  position: relative;
  font-family: 'Martel Sans', sans-serif;
  font-size: 36px;
  color: #444;
  line-height: 3rem;
  top: 70px;
  left: 80px;
  width: 200px;
}

.subtitle {
  position: relative;
  top: 90px; 
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  left: 80px;
  width: 70%;
  min-width: 200px;
}

.subtitle a {
  color: rgb(4, 4, 151);
  text-decoration: none;
  font-weight: 300;
}

.subtitle a:hover {
  color: rgb(4, 115, 179);
  font-weight: 400;
  transition: 0.5s;
}

.social-links {
  position: relative;
  left: 80px;
  top: 120px;
  font-size: 35px;
}

.social-links a {
  color: rgb(177, 174, 174);
  text-decoration: none;
}

.icon {
  position: relative;
  bottom: 0px;
}
.github { margin-right: 15px }
.linkedin { margin: 0 15px }
.twitter  {margin-left: 15px; }

.github:hover {
  color: black;
  bottom: 2px;
  transition: color, bottom  0.5s ;
}

.linkedin:hover {
  color: #0e76a8;
  bottom: 2px;
  transition: 0.5s;
}

.twitter:hover
{
  color: #1DA1F2;
  bottom: 2px;
  transition: 0.5s;
}

.contact-link {
  display: block;
  position: relative;
  left: 80px;
  top: 170px;
  color: white;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  height: 50px;
  width: 200px;
  background-color: rgb(61, 148, 219);
  border-radius: 40px;
}

.contact-link :hover {
  background-color: rgb(4, 100, 179);
  border-radius: 40px;
  transition: background-color 0.5s;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.contact-msg {
  text-align: center;
}

.content {
  position: relative;
  left: 40%;
  width: 60%; 
}
 .project {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   width: 100%;
   height: 110vh;
   min-height: 550px;
 }

 .upper-filler {
  flex: 1;
}

.lower-text {
  flex: 1;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 2rem;
  margin: 10px 30px;
}

.lower-text img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.project-link {
  display: block;
  color: white;
  text-decoration: none;
}

.lower-text a:hover {
  color:rgb(58, 57, 57);
  transition: 0.5s;
} 

 .first-project {
  background-color: rgb(182, 132, 174);
}
.second-project {
  background-color: rgb(118, 199, 149);
}
.third-project {
  background-color: rgb(114, 166, 235);
}
.fourth-project {
  background-color: rgb(240, 192, 104);
}

.image {
  display: block;
  margin: auto; 
}

.img-frame {
  margin: auto;
  max-height: 80%;  
}

img {
  max-width: 100%;
  max-height: 90%;
}

.frame1 {
  width: 40%;
}

.frame2, .frame3 {
  width: 85%;
}

.frame4 {
   width: 35%;
}

footer {
  text-align: center;
  vertical-align: center;
  background-color: #444;
  color: whitesmoke;
  height: 50px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding: 15px;
}

footer a {
  font-weight: 100;
  color: white;
  text-decoration: none;
}

footer a:hover {
  font-weight: 200;
  color:white;
}

.twitter-footer, .github-footer, linkedin-footer { margin: 0 20px} 


@media all and (max-width: 992px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    height: 110vh;
    min-height: 500px;
    width: 100%;
  }

  .content {
    left: 0;
    width: 100%
  }

  .attributions {
    font-size: 10px;
  }


}